* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(28, 130, 137);
}
h2{
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 0.5rem;
}

.box {
  background-color: white;
  border-radius: 1rem;
  border: none;
  box-shadow: 1px 1px 6px rgb(72, 72, 72);
}

.num {
  font-size: 2.2rem;
  font-weight: 600;
  color: brown;
}

#btn button {
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: rgb(30, 28, 28);
  color: #ffffff;  
  margin-bottom: 2rem;
  border:none;
}

#newbtn button {
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: rgb(30, 28, 28);
  color: #ffffff;
  border:none;
}

#btn button:hover {
  transform: scale(1.01);
  background-color: rgb(56, 54, 54);
}

#newbtn button:hover {
  transform: scale(1.01);
  background-color: rgb(48, 46, 46);
}

.msg-container {
  font-size: 1.3rem;
  color: black;
  text-align: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

@media screen and (min-width: 560px) {
  .container{
    gap:1.2rem;
  }
  .game {
    grid-template-columns: repeat(3, 135px);
    grid-template-rows: repeat(3, 135px);
    gap: 0.7rem;
  }

  .num {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  button {
    padding: 0.8rem;
    border-radius: 1rem;
  }

  .msg-container {
    font-size: 5rem;
  }
}
